*{
    padding: 0px;
    margin: 0px;
    
}  

section {
    min-height: 100vh;
}

.header {
    
    padding-top: 44px;
    background: url(/img/dk.jpg) center center no-repeat; 
}

.menu{
    display: flex;
    justify-content: center;

}

.menu a{
        margin-right: 100px;
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        letter-spacing: 2.8px;
}

.menu a:last-child{
    margin-right: 0px;
}

.header-text{
    text-align: center;
    margin-top: 230px;
}

.header-text h1 {
            color: #ffffff;
        font-size: 100px;
        font-weight: 700; 
}
.header p{
            color: #ffffff;
        font-size: 30px;
        letter-spacing: 4.2px
}

.header button {
        cursor: pointer;
         margin-top: 20px;
         padding: 20px 80px;
         background-color: transparent;
         border: 2px solid #ffffff;
         color: #ffffff;
         font-size: 18px;
         text-transform: uppercase;
         letter-spacing: 2.52px;
         transition: ease-in .25s all;
}

.header button:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}
 
.about {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
}
.about-text span {
    color: #c4c4c4;

    font-size: 22px;
    font-weight: 500;
    letter-spacing: normal;
}

.about-text h2 {
        margin-top: 32px;
        margin-bottom: 50px;
            color: #000000
        font-size: 30px;
        font-weight: 500;
        letter-spacing: normal;
        text-transform: uppercase;
}

.about-text p {
            margin-bottom: 54px;
            color: #5b5b5c;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: normal;
}

.about-text button {
    cursor: pointer;
     margin-top: 20px;
     padding: 20px 80px;
     background-color: transparent;
     border: 2px solid #000;
     color: #000;
     font-size: 18px;
     text-transform: uppercase;
     letter-spacing: 2.52px;
     transition: ease-in .25s all;
}

.about-text button:hover {
background-color: #000;
color: #fff;

}
 
.photos {
    margin-top: 100px;
    text-align: center;
}

.photos h2 {
    color: #000000;

    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: normal;
}

.photos p {
    margin-top: 36px;
    color: #5b5b5c;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 4.2px;
}



.photos-wrap {
    margin-top: 90px;
}

.photos-wrap img {
    margin: 10px;

}

.company-text{
    text-align: center;
}

.company {
    margin-top: 250px;
    margin-bottom: 150px;
}

.company-text h2 {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7.2px;
    
}

.company-text p {
    margin-top: 36px;
    margin-bottom: 65px;   
    color: #5b5b5c;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 4.2px;
}

.company-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    max-width: 700px;
}

.company-block {
    max-width: 700px;
}
.company-block-1 {
    margin-right: 34px;
}
.company-block h3 {
    margin-top: 66px; 
    color: #000000;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:6px;
    
}

.company-block p {
    margin-top: 55px;
    margin-bottom: 80px;
    color: #848484;
    font-size: 19px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 3.8px;
}

.company-block button {
    cursor: pointer;
    padding: 10px 30px;
    border: none;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    transition: .25s;
}

.company-block button:hover {
    background-color: #ccc;
}

.send {
    background-color: #f4f4f4; 
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.send-text{
   margin-right: 51px;
   ;
}



.send-text h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    text-transform: uppercase;
    letter-spacing: 4.2px;

}

.send-text p {
    color: #5b5b5c;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.52px;
}

input {
    margin-right: 21px;
    background: transparent;
    border: 2px solid #7a7a7a;
    padding: 27px 32px;
    color: #3a4047;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 3.08px;
}

form button {
    cursor: pointer;
    padding: 27px 87px;
    border: none;
    background-color: #3a4047;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.08px;
    transition: ease-in-out .25s;
}

form button:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}

.footer {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6.12px;
    text-align: center ;
    padding: 95px 0;
}


.footer-menu {
  
    margin-bottom: 66px;
}

.footer-menu a {
    margin-right: 55px;
    color: #000000;
    text-decoration: none;
    font-size: 22px;

}

.footer-menu a:last-child {
    margin-right: 0
}

.footer-text {
    margin-bottom: 20px;
}